.popup__input_type_radio {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.popup__input_type_radio+label {
    display: inline-flex;
    align-items: center;
    user-select: none;
  }

.popup__input_type_radio+label::before {
    content: '';
    display: inline-block;
    width: 24px;
    height: 24px;
    border: 1px solid #394573;
    border-radius: 50%;
    margin-right: 12px;
}

.popup__input_type_radio:checked+label::before {
    background: url(../../../../images/popup/popup-check.svg) center center no-repeat;
}

