.footer {
    display: grid;
    grid-template-columns: repeat(12, minmax(0, 1fr));
    grid-template-rows: 1fr;
    gap: 32px;
    /* margin: 48px auto 36px; */
    padding: 0 112px 45px;
    align-items: center;
}