.popup__form {
    margin: 0 auto;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #394573;
}

@media screen and (max-width: 320px) {
    .popup__form {
        margin: 0 auto;
        width: 358px;
    }
}